<div style="margin: 20px 0px">
  <select class="form-control" (change)="setNewTimeZone()" [(ngModel)]="timezoneVal">
    <option *ngFor="let timezone of timeZones" >
      {{timezone}}
    </option>    
  </select>
</div>
<div style="display:block; margin: 20px 0px; height: 100%;">
  <angular2-date-picker
    [(ngModel)]="current_datetime"
    [timezone]="timezoneVal"
    [settings]="settings"
    (onDateSelect)="onDateSelect()">
  </angular2-date-picker>
</div>
<div style="margin: 60px 0px">
  <span style="margin-right: 10px">Current Time : </span>{{currentTime}}
</div>
<div style="margin: 60px 0px">
  <span style="margin-right: 10px">Timezone Time : </span>{{moment(current_datetime).format('LLLL')}}
</div>
